* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

body{
    font-family: 'Anek Telugu', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Sedgwick Ave', cursive;
}

.padre {
    display: flex;
    flex-flow: column nowrap;

}

.header {
    background: url('./img/bg-2.jpg');
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

    .menu {
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        flex-flow: row nowrap;
        height: 100px;
        align-items: center;
        border-bottom: 1px solid rgb(255, 255, 255, .5);
    }

        .logo {
            flex: 1 1 auto;
        }
            .logo a{
                color: #fff;
                font-size: 30px;;
            }
            .logo a:hover{
                color: #c8e46b;
            }

        .nav {
            flex: 5 1 auto;
            text-align:unset;
        }
            .nav a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;;
                letter-spacing: 2px;
            }
            .nav a:hover{
                color: #c8e46b;
            }
        .social {
            display: flex;
            flex: 1 1 auto;
        }
            .social a{
                font-size: 18px;
                color: #fff;
                padding: 0 5px;
            }

    .texto-principal {
        background-color: wheat;
    }
        h1 {
            background-color: snow;
        }

.section {
    background-color: aqua;
    display: flex;
}
    .articulos {
        background-color: cornflowerblue;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }
        .article {
            background-color: rgb(59, 159, 121);
            flex: 1 1 40%;
        }

        .navegacion {
            background-color: tan;
            flex: 1 1 100%;
        }
    
    .aside {
        background-color: rgb(255, 255, 255);
        flex: 1 1 auto;
    }
        .publicidad {
            background-color: rgb(178, 212, 245);
        }

.footer {
    background-color: rgb(255, 254, 254);
    display: flex;
    justify-content: center;
}
    .pie {
        color:rgb(255, 255, 255);
        width: 300px;

    }

@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}

@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}